.construction-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f8f9fa;
    text-align: center; /* Asegura que todo el texto esté centrado */
  }
  
  .construction-container .construction-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 30px;
  }
  
  .construction-container h1 {
    font-size: 48px;
    color: #103153;
  }
  
  .construction-container p {
    font-size: 20px;
    color: #6c757d;
  }
  